<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'shared/logged_in_header' %>
</head>

<body>
  <!-- video favorites (user controller) -->

  <div class="search-box">
      <%= render 'searches/index' %>
  </div>
</body>



