<h3 class="favorite-title">Favorite Videos</h3>
<ul>
  <% if favorite_videos.present? %>
    <% favorite_videos.each do |video| %>
      <%= render partial: "videos/video_item", locals: { video: video } %>
    <% end %>
  <% else %>
    <li>No favorite videos found.</li>
  <% end %>
</ul>
