<%= turbo_stream.replace "favorite-videos" do %>
  <%= render partial: "videos/favorite_videos", locals: { favorite_videos: @favorite_videos } %>
<% end %>

<%= turbo_stream.append "flash-messages" do %>
  <div class="alert alert-notice">Video successfully added</div>
<% end %>
