<%= turbo_stream.update "favorite-videos-list" do %>
  <%= render partial: "videos/video_item", locals: { video: @favorite_videos.last } %>
<% end %>

<%= turbo_stream.append "flash-messages" do %>
  <div class="alert alert-notice">Video successfully added</div>
<% end %>
