<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-end">
        <!-- empty column -->
      </div>
      <div class="col text-center">
        <h1>PomPlanner</h1>
      </div>
      <div class="col text-start">
        <%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</header>