<div class="container">
  <div class="row justify-content-center">
    <h1>Welcome to PomPlanner App</h1>
    <p>Click the link below to sign in with Google:</p>
    <%= button_to 'Sign in with Google', 'http://localhost:5000/auth/google_oauth2', data: { turbo: false } %>
  </div>
</div>
