<div class="search-results">
  <% if @results.any? %>
    <% @results.each do |result| %>
      <%= @result.thumbnail %>
      <!-- other things we want -->
    <% end %>
  <% else %>
    Please enter search criteria.
  <% end %>
</div>
